.new-products {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.new-product {
    width: 80%;
    margin: 20px;
    padding: 10px;
    color: darkgray;
    border: 3px;
    border-color: grey;
    border-style: solid;
    border-radius: 5%;
    text-align: center;

}

.price {
    display: inline-block;
}

.boton-comprar {
    background-color: gray;
    margin-right: 15px;
    margin-left: 15px;
    width: 200px;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}